:host,
.game {
  display: contents;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 3rem);
  grid-template-rows: repeat(3, 3rem);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-surface);
}
